<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logina</servlet-name>
        <servlet-class>Logina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiffIP</servlet-name>
        <servlet-class>DiffIP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lock</servlet-name>
        <servlet-class>Lock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup1</servlet-name>
        <servlet-class>Signup1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Moneytransfer</servlet-name>
        <servlet-class>Moneytransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rtgs</servlet-name>
        <servlet-class>Rtgs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Neft</servlet-name>
        <servlet-class>Neft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebitCardApply</servlet-name>
        <servlet-class>DebitCardApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditCardApply</servlet-name>
        <servlet-class>CreditCardApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockDebit</servlet-name>
        <servlet-class>BlockDebit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockCredit1</servlet-name>
        <servlet-class>BlockCredit1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyCheque</servlet-name>
        <servlet-class>ApplyCheque</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logina</servlet-name>
        <url-pattern>/Logina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiffIP</servlet-name>
        <url-pattern>/DiffIP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lock</servlet-name>
        <url-pattern>/Lock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup1</servlet-name>
        <url-pattern>/Signup1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Moneytransfer</servlet-name>
        <url-pattern>/Moneytransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rtgs</servlet-name>
        <url-pattern>/Rtgs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Neft</servlet-name>
        <url-pattern>/Neft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebitCardApply</servlet-name>
        <url-pattern>/DebitCardApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditCardApply</servlet-name>
        <url-pattern>/CreditCardApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockDebit</servlet-name>
        <url-pattern>/BlockDebit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockCredit1</servlet-name>
        <url-pattern>/BlockCredit1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyCheque</servlet-name>
        <url-pattern>/ApplyCheque</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
